<<<<<<< HEAD
body{
  background-color: orange;
}
header{
  text-align:
}
#logo{
  float: left;
  width: 99%;
}
navigation_bar{

}
#wrapper{

}
button{
  color: white;
=======
body {    
    margin: 50 !important;
    padding: 50 !important;
    box-sizing: border-box;
	  background-color: #000000;
>>>>>>> d05811a6b72a02089bd926526719ec25892c52ec
}
